<h2>Todos page</h2>

{{#if todos.length}}
    <ul>
        {{#each todos}}
            <form action="complete" method="POST">
                <li class="todo">
                    <label>
                        {{#if completed}}
                            <input type="checkbox" checked name="completed">
                            <input type="checkbox" checked>
                            <span class="completed">{{title}}</span>
                        {{else}}
                            <input type="checkbox" checked name="completed">
                            <input type="checkbox">
                            <span>{{title}}</span>
                        {{/if}}
                        <input type="hidden" value={{_id}} name="id">
                        <button type="submit" class="btn btn-small">Save</button>
                    </label>
                </li>
            </form>
        {{/each}}
    </ul>
{{else}}
    <p>No todos!</p>

{{/if}}